.sidenav-container {
  height: 100%;
}

.nav-list-item {
  cursor: pointer;
  text-decoration: none;
}

.nav-list-item:hover {
  background: rgba(0, 0, 0, 0.125);
}

.toolbar {
  display: flex;

  span {
    flex: 1 1 auto;
  }
}

.active-link {
  background: rgba(0, 0, 0, 0.2);
}
