.sidenav-container {
  height: 100%;
}

.nav-list-item {
  cursor: pointer;
  text-decoration: none;
}

.nav-list-item:hover {
  background: rgba(0, 0, 0, 0.125);
}

.login-form {
  display: flex;
  flex-direction: column;
}

.toolbar {
  display: flex;

  span {
    flex: 1 1 auto;
  }
}

.active-link {
  background: rgba(0, 0, 0, 0.2);
}


.login-container {
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  flex-direction: column;
  padding-top: 75px;
}

.login-card {
  width: 400px;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 80%;
}
