<mat-sidenav-container class="sidenav-container" *ngIf="authenticated$ | async; else unauthenticated" autosize>

  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <h3>Navigation</h3>
    </mat-toolbar>
    <mat-list>
      <a mat-list-item class="nav-list-item" routerLink="/dashboard" routerLinkActive="active-link">
        <mat-icon mat-list-icon>dashboard</mat-icon>
        <div mat-line>Dashboard</div>
      </a>
      <a mat-list-item class="nav-list-item" routerLink="/erfassung" routerLinkActive="active-link" *ngIf="isUser">
        <mat-icon mat-list-icon>add</mat-icon>
        <div mat-line>Erfassung</div>
      </a>
      <a mat-list-item class="nav-list-item" routerLink="/test-list" routerLinkActive="active-link" *ngIf="isUser">
        <mat-icon mat-list-icon>list</mat-icon>
        <div mat-line>Testliste</div>
      </a>
      <a mat-list-item class="nav-list-item" routerLink="/test-list-all" routerLinkActive="active-link" *ngIf="isAdmin">
        <mat-icon mat-list-icon>list</mat-icon>
        <div mat-line>Einsicht</div>
      </a>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mat-elevation-z5 toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Zentrales Melderegister</span>

      <button mat-button (click)="logout()">LOGOUT</button>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #unauthenticated>
  <app-login></app-login>
</ng-template>
