<mat-toolbar color="primary" style="z-index: 99;" class="mat-elevation-z5">
  Zentrales Melderegister
</mat-toolbar>
<main>
  <div class="login-container">
    <h1 class="mat-h1">Zentrales Melderegister</h1>
    <!--Login-Form-->
    <mat-card class="login-card mat-elevation-z5">
      <mat-card-header>
        <mat-card-title><h1 class="mat-headline" style="color: dimgray">Login</h1></mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="login-form" *ngIf="!loadingLogin">
            <mat-form-field>
              <input matInput type="text" placeholder="Benutzername" formControlName="email">
            </mat-form-field>


            <mat-form-field>
              <input matInput type="password" placeholder="Password" formControlName="password">
            </mat-form-field>

            <div style="padding-bottom: 10px; display: flex">
              <mat-checkbox formControlName="stayLoggedIn">Eingeloggt bleiben</mat-checkbox>
            </div>

            <button mat-raised-button color="primary">Login</button>
          </div>
          <div style="display: flex;justify-content: center;" *ngIf="loadingLogin">
            <mat-spinner [mode]="'indeterminate'"></mat-spinner>
          </div>
          <div *ngIf="isLoginErrorVisible">{{errorLogin}}</div>
        </form>
      </mat-card-content>
    </mat-card>
    <span style="flex: 1 1 auto"></span>
    <img src="assets/Logo_Projekt_01.png" style="width: 600px; max-width: 100%">
    <span style="flex: 1 1 auto"></span>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" style="background: #3f51b5; margin-top: 25px;"
         preserveAspectRatio="none">
      <path style="fill: #e8e8e8"
            d="M421.9,6.5c22.6-2.5,51.5,0.4,75.5,5.3c23.6,4.9,70.9,23.5,100.5,35.7c75.8,32.2,133.7,44.5,192.6,49.7 c23.6,2.1,48.7,3.5,103.4-2.5c54.7-6,106.2-25.6,106.2-25.6V0H0v30.3c0,0,72,32.6,158.4,30.5c39.2-0.7,92.8-6.7,134-22.4 c21.2-8.1,52.2-18.2,79.7-24.2C399.3,7.9,411.6,7.5,421.9,6.5z"></path>
    </svg>
  </div>
</main>
