.grid-container {
  margin: 20px;
}

mat-card {
  display: flex;
  flex-direction: column;
}

mat-card-content {
  flex-grow: 1;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}