<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="4:3">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
          </mat-card-title>
        </mat-card-header>
        <ng-container [ngSwitch]="card.type">
          <mat-card-content class="chart-box" *ngSwitchCase="diagramType.ANZAHL_BUNDESLAND">
            <ngx-charts-bar-vertical
              [results]="infectedByState"
              [gradient]="false"
              [xAxis]="true"
              [yAxis]="true"
              [legend]="true"
              [showXAxisLabel]="true"
              [showYAxisLabel]="true"
              [xAxisLabel]="'Bundesland'"
              [yAxisLabel]="'Anzahl'">
            </ngx-charts-bar-vertical>
          </mat-card-content>

          <mat-card-content class="chart-box" *ngSwitchCase="diagramType.ANZAHL_ALTER">
            <ngx-charts-bar-vertical
              [results]="infectedByAge"
              [gradient]="false"
              [xAxis]="true"
              [yAxis]="true"
              [legend]="true"
              [showXAxisLabel]="true"
              [showYAxisLabel]="true"
              [xAxisLabel]="'Alter'"
              [yAxisLabel]="'Anzahl'">
            </ngx-charts-bar-vertical>
          </mat-card-content>

          <mat-card-content class="chart-box" *ngSwitchCase="diagramType.ANZAHL_TAG">
            <ngx-charts-bar-vertical
              [results]="infectedByDay"
              [gradient]="false"
              [xAxis]="true"
              [yAxis]="true"
              [legend]="true"
              [showXAxisLabel]="true"
              [showYAxisLabel]="true"
              [xAxisLabel]="'Tag'"
              [yAxisLabel]="'Anzahl'">
            </ngx-charts-bar-vertical>
          </mat-card-content>

          <mat-card-content class="chart-box" *ngSwitchCase="diagramType.ZUWACHS_BUNDESLAND">
            <ngx-charts-bar-vertical
              [results]="growthByStateToday"
              [gradient]="false"
              [xAxis]="true"
              [yAxis]="true"
              [legend]="true"
              [showXAxisLabel]="true"
              [showYAxisLabel]="true"
              [xAxisLabel]="'Bundesland'"
              [yAxisLabel]="'Anzahl'">
            </ngx-charts-bar-vertical>
          </mat-card-content>

          <mat-card-content class="chart-box" *ngSwitchCase="diagramType.ZUWACHS_TAG">
            <ngx-charts-bar-vertical
              [results]="growthByDay"
              [gradient]="false"
              [xAxis]="true"
              [yAxis]="true"
              [legend]="true"
              [showXAxisLabel]="true"
              [showYAxisLabel]="true"
              [xAxisLabel]="'Tag'"
              [yAxisLabel]="'Anzahl'">
            </ngx-charts-bar-vertical>
          </mat-card-content>
        </ng-container>

      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
