<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="4:3">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
          </mat-card-title>
        </mat-card-header>
        <ng-container [ngSwitch]="card.type">
          <mat-card-content class="chart-box" *ngSwitchCase="diagramType.ANZAHL_BUNDESLAND">
            <ngx-charts-bar-vertical
              [results]="infectedByState"
              [gradient]="gradient"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [legend]="showLegend"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxisLabel]="xAxisLabel"
              [yAxisLabel]="yAxisLabel"
              (select)="onSelect($event)">
            </ngx-charts-bar-vertical>
          </mat-card-content>
        </ng-container>

      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
